<div class="content-wrapper" style="min-height: 916px;">
    <alert></alert>
    <alert-error></alert-error>
    <div class="col-lg-3 pl0 mb20">
        <input placeholder="{{'global.action.search_text' | translate }}" ng-model="searchText" class="form-control">
    </div>
    <div class="col-lg-5 pl0 mb20">
        <label class="pull-left" style="margin-top:7px;margin-right: 7px" data-translate>dashboard.filters.sort_by</label>
        <select class="form-control pull-left" style="width: 70%" ng-model="filterData" ng-init="filterData = 'storyInfo.startDate'">
            <option value="storyInfo.startDate" data-translate>dashboard.filters.start_date</option>
            <option value="storyInfo.stopDate" data-translate>dashboard.filters.stop_date</option>
            <option value="storyTemplate.storyDefinition.storyName" data-translate>dashboard.filters.story_name</option>
        </select>
        <div ng-model="filterDesc" ng-init="filterDesc=false" style="margin-top: 4px;margin-left: 6px;float: left;">
            <i class="iconSort fa fa-long-arrow-up pull-left" ng-show="!filterDesc"  ng-click="filterDesc = true;"></i>
            <i class="iconSort fa fa-long-arrow-down pull-left" ng-show="filterDesc" ng-click="filterDesc = false;"></i>
        </div>
    </div>
    <story-template data="story.storyTemplate" diagram="story.storyTemplateDiagram" info="story.storyInfo" ng-repeat="story in vm.combinedStories | filter:searchText | orderBy:filterData:filterDesc"></story-template>
</div>
